
<header class="w-100 h-auto pb-5">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="Main navbar">
        <div class="container-fluid my-4 mx-2">
            <a class="navbar-brand" href="{% url 'recipes:home' %}">Recipes</a>

            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbar-content"
                    aria-controls="navbar-content"
                    aria-expanded="false"
                    aria-label="Toggle navgation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse row justify-content-between" id="navbar-content">
                <ul class="navbar-nav me-auto mb-2 mb-md-0 col-12 col-md-6">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>

{#                                <li class="nav-item">#}
{#                                    <a href="/chat" class="nav-link">Chat</a>#}
{#                                </li>#}
{##}
{#                                <li class="nav-item">#}
{#                                    <a href="/settings" class="nav-link">Settings</a>#}
{#                                </li>#}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="
                                    {% if request.user.is_authenticated %}
                                        {% url 'authors:profile' %}
                                    {% else %}
                                        {% url 'authors:login' %}
                                    {% endif %}"
                                    class="dropdown-item">
                                    Profile
                                </a>
                            </li>

{#                                        <li>#}
{#                                            <a href="/account/contacts" class="dropdown-item">Contacts</a>#}
{#                                        </li>#}

                            <li>
                                <hr class="dropdown-divider"/>
                            </li>

                            <li>
                                <a href="{% url 'authors:register' %}" class="dropdown-item">Register</a>
                            </li>

                            <li>
                                {% if request.user.is_authenticated %}
                                    <form action="{% url 'authors:logout' %}" id="form-logout" method="POST">
                                        {% csrf_token %}
                                        <input class="btn btn-link link-opacity-50-hover link-dark link-underline link-underline-opacity-0" id="submit-logout" type="submit" value="Logout">
                                    </form>
                                {% else %}
                                    <a href="{% url 'authors:login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </li>

                        </ul>
                    </li>

                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <span class="nav-link active">
                                Welcome
                                {% if request.user.first_name %}
                                    {{ request.user.first_name }}
                                {% else %}
                                    {{ request.user.username }}
                                {% endif %}
                            </span>
                        </li>
                    {% endif %}
                </ul>
                <form class="col-12 col-md-6" role="search" action="{% url "recipes:search" %}" id="form-search" method="GET">
                    <div class="input-group w-100">
                        <input type="search" class="form-control" id="search-input" name="q" placeholder="Search" value="{{ q_term }}" aria-label="Search" required/>

                        <button type="submit" id="submit-search" class="btn btn-light">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </nav>
</header>
